<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--<typeAliases>-->
    <!--    <package name="com.example.logbackandmybatis.model.entity"/>-->
    <!--</typeAliases>-->

    <!--properties属性的db连接配置不生效-->
    <!--使用yml的话可不使用该配置-->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/testDB"/>
                <property name="username" value="root"/>
                <property name="password" value="lyf123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/mysql.xml"/>
    </mappers>
</configuration>

        <!--<generatorConfiguration>-->

<!--    <classPathEntry-->
<!--            location="/Users/liyanfei/software/mysql-connector-java-8.0.23/mysql-connector-java-8.0.23.jar"/>-->

<!--    <context id="MBG" targetRuntime="MyBatis3" defaultModelType="flat">-->

<!--        <commentGenerator>-->
<!--            <property name="suppressAllComments" value="true"/>-->
<!--            &lt;!&ndash; 是否生成注释代时间戳 &ndash;&gt;-->
<!--            <property name="suppressDate" value="true"/>-->
<!--            <property name="targetProject" value=""/>-->
<!--        </commentGenerator>-->

<!--        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"-->
<!--                        connectionURL="jdbc:mysql://localhost:3306/testDB?characterEncoding=utf8" userId="root"-->
<!--                        password="lyf123456">-->
<!--            &lt;!&ndash;识别主键，用以自动生成带ByPrimaryKey相关方法&ndash;&gt;-->
<!--            <property name="useInformationSchema" value="true"/>-->
<!--            <property name="nullCatalogMeansCurrent" value="true"/>-->
<!--        </jdbcConnection>-->

<!--        &lt;!&ndash;生成model实体类&ndash;&gt;-->
<!--        <javaModelGenerator targetPackage="com.example.logbackandmybatis.model.entity"-->
<!--                            targetProject="./src/main/java">-->
<!--            <property name="enableSubPackages" value="true"/>-->
<!--            <property name="trimStrings" value="true"/>-->
<!--        </javaModelGenerator>-->

<!--        <sqlMapGenerator targetPackage="com.example.logbackandmybatis.model.mapper"-->
<!--                         targetProject="./src/main/resources/mapper">-->
<!--            <property name="enableSubPackages" value="true"/>-->
<!--        </sqlMapGenerator>-->

<!--        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.logbackandmybatis.model.dao"-->
<!--                             targetProject="./src/main/java">-->
<!--            <property name="enableSubPackages" value="true"/>-->
<!--        </javaClientGenerator>-->


<!--    </context>-->
<!--</generatorConfiguration>-->
